* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
  background: #edf3f8;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: 0;
}

img,
svg {
  display: block;
}
